.monotributo-banner {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
}

.container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.underline {
  width: 120px;
  height: 4px;
  background-color: #f58220;
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
