.footer {
  background-color: rgb(67, 97, 131);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding: 20px 0px 20px 0px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  min-height: 100%;
  gap: 10px;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-logo{
  width: 200px;
  height: 80px;
}

@media (min-width: 768px){
  .footer{
    flex-direction: row;
  }
}
